<div class="widget github">
    <div class="github-headerlogo">
      <img src="https://avatars.githubusercontent.com/u/4234175?v=3" alt=""/>
    </div>
    <div class="github-name">
      <h1>Jacob wang</h1>
    </div>
    <div class="github-login">
        <p>wenyuking</p>
    </div>
    <div class="github-email">
      <p>wangwenyu9394@gmail.com</p>
    </div>
    <div class="github-create">
      <p>Joined on 23 Apr 2013</p>
    </div>
    <div class="widget-content clearfix">
      <div class="github-mainblo github-follows alignleft">
        <div class="github-mainblo-number">
          15
        </div>
        <div class="github-mainblo-title">
          Follows
        </div>
      </div>
      <div class="github-mainblo github-stars alignleft">
        <div class="github-mainblo-number">
          5
        </div>
        <div class="github-mainblo-title">
          Stars
        </div>
      </div>
      <div class="github-mainblo github-following alignleft">
        <div class="github-mainblo-number">
          89
        </div>
        <div class="github-mainblo-title">
          Following
        </div>
      </div>
    </div>
</div>
