<div class="widget github">
    <div class="github-headerlogo">
      <img src="" alt=""/>
    </div>
    <div class="github-name">
      <h1></h1>

    </div>
    <div class="github-login">
        <a href="">fllow</a>
    </div>
    <div class="github-email">
      <a href=""></a>
    </div>
    <div class="widget-content clearfix">
      <div class="github-mainblo alignleft">
        <div class="github-mainblo-number github-follows">

        </div>
        <div class="github-mainblo-title">
          Follows
        </div>
      </div>
      <div class="github-mainblo alignleft">
          <div class="github-mainblo-number github-repos">

          </div>
          <div class="github-mainblo-title">
              Repos
          </div>
      </div>
      <div class="github-mainblo alignleft">
        <div class="github-mainblo-number github-following">

        </div>
        <div class="github-mainblo-title">
          Following
        </div>
      </div>
    </div>
</div>
