<% if (page.comments){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%=page.title %>" data-url="<%=page.permalink %>"></div>
</section>
<% } %>